@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@theme {
  --color-main-bg: #0a0a0a;
  --color-secondary-bg: #1c1c1c;
  --color-font: #F7F7F7;
  --color-font-secondary: #fcfcfca0;
  --color-borders: #ffffff1e;
  --color-purple: #934bff;
  --color-blue: #0081c7;
  --font-main: "Poppins";
  --font-others: "Chivo Mono";
  --font-secondary: "Outfit";
  --color-gradient: linear-gradient(to right, #934BFF, #0081C7);
  --animate-scroll-carousel: scroll-carousel 20s linear infinite;

  --color-react: #00D8FF;
  --color-node: #7ED957;
  --color-express: #6B7280;
  --color-mongodb: #00C853;
  --color-python: #2962FF;
  --color-docker: #0091EA;
  --color-javascript: #FFD600;
  --color-java: #FF6D00;
  --color-tailwind: #00CFE8;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

html{
  scroll-behavior: smooth;
}

.animate-fade-in {
  animation: fadeIn 1s ease-out forwards;
}

body {
  @apply bg-main-bg;
}

.carousel-item{
  @apply flex flex-none items-center gap-1 text-font font-main
}

.padding-body{
  @apply pt-2 pb-3 pr-10 pl-10
}

@keyframes scroll-carousel {
    0% {
      transform: translate(0);
    }
    100% {
      transform: translate(-50%);
    }
  }

  .organic-shape {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.backface-hidden {
  backface-visibility: hidden;
}