@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Libre+Barcode+39&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap');
@import url(reset.css);

:root{
--fonte-texto: "Poppins", sans-serif;
--fonte-titulo:"Unbounded", sans-serif;
--fonte-logo:"Libre Barcode 39", sans-serif;
--branco:#fafafa;
--preto:#1a1a1a;
--principal:#D0253E;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    margin: 0 20px;
    background-color: var(--preto);
}
nav{
    display: flex;
}
.logo{
    font-family: var(--fonte-logo);
    font-size: 2em;
}
.nav-links-container{
    display: flex;
}
.nav-links-container li{
    margin: 0 20px;
    font-family: var(--fonte-texto);
    font-weight: 600;
}
.nav-switch button{
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.139);
}
.home-text h1{
    margin-top: 5px;
    font-family: var(--fonte-titulo);
    font-size: 7rem;
    font-weight: 900;
    line-height: 110px;
    color: var(--principal);
}
.home-text p{
    font-size: 22px;
    margin-right:  320px;
}
.home-text p>span{
    color: var(--principal);
    font-weight: 600;
}
.home-button{
    margin-top: 50px;
}
.home-button>button{
    padding: 15px 60px;
    border: 1px solid #ffffff35;
    border-radius: 10px;
    font-family: var(--fonte-texto);
}
.home-button>button:hover{
    background-color: #ffffff35;
    border: 1px solid #ffffff35;
}